.noStyle {
  list-style-type: none;
}

body {
 font-family: 'Slabo 40px', serif;
}

.lineMargin {
  margin: 25px;
}
.hideResults {
  display: none;
  margin: 25px;
}

h2 {
  margin-left: 25px;
}

#chdesktop, #mobileChoice, #howint {

  margin-left: 65px;
}

#nameStyle {
  padding-bottom: 20px;
}

.well {
  background-color: #b8c5db;
}
