body {
 font-family: 'Muli', sans-serif;
 /*background-color: #dee0e2;*/
 background-image: url("http://wallpaperpulse.com/img/1334794.jpg");

}

.lineMargin {
  margin: 25px;
}

.hideResults {
  display: none;
  margin: 25px;
}

#chdesktop, #mobileChoice, #howint {
  margin-left: 65px;
  font-size: 15px;
}

#platformSelect, #reasonCode {
  font-size: 20px;
}

#nameStyle {
  padding-bottom: 20px;
  font-size: 30px;
}

.well {
  background-color:  #a6d8a6;
}

h3 {
  font-size: 30px;
}

.header {
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
}
.btn:hover {
  background-color: #555;
  color: white;
}
